@if(isLoading) {
<div class="spinner">
  <img
    src="img/spinner.png"
    class="rotating-img"
    style="width: 50px; height: 50px"
    alt=""
  />
</div>
}

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row p-5">
          <a href="#" class="navbar-brand d-md-none">
            <img src="img/logo.png" class="logo" alt="" />
          </a>
          <div class="col-12 p-0 p-md-5 pt-4 pt-md-0">
            <div #translateParent class="translate-box"></div>

            <form action="" [formGroup]="signupForm" (ngSubmit)="submitForm()">
              <div id="page-number">
                <app-page-number
                  [isPassed]="passed"
                  [isActive]="active"
                ></app-page-number>
              </div>

              <h5 class="mt-5 fw-bold">{{ signupHeading }}</h5>
              <p class="text-secondary">{{ signupSubHeading }}</p>

              <div class="row">
                @if (isLoading || preloader) {
                <div class="col-12 my-2">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                }
              </div>

              @if (!preloader) {
              <div #pageContainer id="pageContainer">
                <div #pageMenu id="pageMenu">
                  <div #pageOne class="mt-5 page-item" id="pageOne">
                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Country</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="country"
                          [matAutocomplete]="auto"
                        />
                        <mat-autocomplete #auto="matAutocomplete">
                          @for (country of filteredCountries | async; track
                          $index) {
                          <mat-option [value]="country.name.common"
                            ><img
                              src="{{ country.flags.svg }}"
                              class="icon-good me-2"
                              alt="{{ country.name.common }} flag image"
                            />{{ country.name.common }}</mat-option
                          >
                          }
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Firstname</mat-label>
                        <input
                          matInput
                          placeholder=""
                          formControlName="firstname"
                        />
                        <!-- <mat-hint>Hint</mat-hint> -->
                      </mat-form-field>
                      <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Lastname</mat-label>
                        <input
                          matInput
                          placeholder=""
                          formControlName="lastname"
                        />
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                          <mat-option value="0">Male</mat-option>
                          <mat-option value="1">Female</mat-option>
                          <mat-option value="2">Other</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>DOB</mat-label>
                        <input
                          matInput
                          type="date"
                          placeholder=""
                          formControlName="dob"
                        />
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input
                          matInput
                          type="email"
                          placeholder=""
                          formControlName="email"
                        />
                      </mat-form-field>
                    </div>
                    <button
                      type="button"
                      class="col-12 btn btn-gradient-primary btn-gradient-padding mt-3"
                      (click)="
                        goToNextPage(
                          'country',
                          'firstname',
                          'lastname',
                          'gender',
                          'dob',
                          'email'
                        )
                      "
                    >
                      Next
                    </button>
                  </div>

                  <div #pageTwo class="mt-5 page-item" id="pageTwo">
                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input
                          matInput
                          type="tel"
                          placeholder=""
                          formControlName="phone"
                        />
                      </mat-form-field>
                    </div>

                    <div class="row">
                      <!-- Currency Autocomplete -->
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Currency</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="currency"
                          [matAutocomplete]="currencyAuto"
                        />
                        <mat-autocomplete #currencyAuto="matAutocomplete">
                          @for (currency of filteredCurrencies | async; track
                          $index) {
                          <mat-option [value]="currency.symbol">
                            <img
                              src="{{ currency.flag }}"
                              class="icon-good me-2"
                              alt="{{ currency.country }} flag image"
                            />
                            {{ currency.name }} ({{ currency.code }} -
                            {{ currency.symbol }})
                          </mat-option>
                          }
                        </mat-autocomplete>
                      </mat-form-field>
                      <!-- <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Currency</mat-label>
                        <mat-select formControlName="currency">
                          <mat-option value="$">USD $</mat-option>
                          <mat-option value="¥">JPY ¥</mat-option>
                          <mat-option value="€">EUR €</mat-option>
                          <mat-option value="£">GBP £</mat-option>
                        </mat-select>
                      </mat-form-field> -->
                    </div>
                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                          matInput
                          type="password"
                          (change)="passwordMatch()"
                          #passwordInput
                          placeholder=""
                          formControlName="password"
                        />
                        <mat-icon
                          (click)="togglePasswordVisibility()"
                          class="cursor-pointer"
                          matIconSuffix
                          >{{
                            passwordVisible ? "visibility_off" : "visibility"
                          }}</mat-icon
                        >
                      </mat-form-field>
                    </div>

                    <small class="text-secondary">
                      *Password should contain atleast one uppercase, lowercase,
                      digit, symbol and minimum of 8 characters*
                    </small>

                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input
                          matInput
                          type="password"
                          #confirmPasswordInput
                          (change)="passwordMatch()"
                          placeholder=""
                          formControlName="password_confirmation"
                        />
                        <mat-icon
                          (click)="togglePasswordVisibility()"
                          class="cursor-pointer"
                          matIconSuffix
                          >{{
                            passwordVisible ? "visibility_off" : "visibility"
                          }}</mat-icon
                        >
                      </mat-form-field>
                    </div>

                    <div class="row mt-5">
                      <div class="col-6">
                        <button
                          type="button"
                          class="col-12 btn btn-outline-primary"
                          style="padding: 15px 50px"
                          (click)="goToBackPage()"
                        >
                          Back
                        </button>
                      </div>
                      <div class="col-6">
                        <button
                          type="submit"
                          class="col-12 btn btn-gradient-primary btn-gradient-padding"
                          [disabled]="signupForm.invalid"
                        >
                          Register
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }
            </form>

            <div class="text-center mt-3">
              <p>
                Already have an Account?
                <a routerLink="/signin" class="text-decoration-none">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 signup-bg p-5 text-dark">
        <!-- <a href="#" class="navbar-brand">
          <img src="img/logo.png" class="logo" alt="" />
        </a> -->

        <a class="navbar-brand" href="#">
          <h2 class="logo-text"><i>GlobeTrustCapital.com</i></h2>
        </a>

        <h1 class="banking-text">Banking Made Simple.</h1>

        <p class="login-text">
          Securely log in to manage your GlobeTrustCapital account. New here?
          Click
          <strong>Sign Up</strong> to open your account today.
        </p>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Instant transfers"
                />
                <span class="fs-auto">Fast & Secure Transfers</span>
              </div>
              <div class="d-flex">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Global payments"
                />
                <span class="fs-auto">Global Payments</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Savings account"
                />
                <span class="fs-auto">Flexible Savings Accounts</span>
              </div>
              <div class="d-flex">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Mobile banking"
                />
                <span class="fs-auto">24/7 Mobile Banking</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <img src="img/signup-girl.png" class="signup-girl" alt="" /> -->
      </div>
    </div>
  </div>
</section>
