@if(isLoading) {
<div class="spinner">
  <img
    src="img/spinner.png"
    class="rotating-img"
    style="width: 50px; height: 50px"
    alt=""
  />
</div>
}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-4" id="quickTransfer">
          <div class="row mb-4">
            <div class="col-12">
              <h6>My Cards</h6>
            </div>
          </div>
          <div class="card-div">
            <img
              src="img/master-card-bg.png"
              class="w-100 theme-rounded"
              alt=""
            />
            <div class="content-text w-100 p-3">
              <span class="balance-text text-light">Balance</span>
              <div class="d-flex justify-content-between">
                <h5 class="text-light">
                  {{ userData?.currency }} {{ userData?.display_balance }}
                </h5>
                <mat-icon class="text-light">contactless</mat-icon>
              </div>

              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  <span class="fw-light fs-12">CARD HOLDER</span>
                  <span class="fs-12">{{ userData?.fullname }}</span>
                </div>
                <div>
                  <div class="d-flex flex-column text-light me-3">
                    <span class="fw-light fs-12">VALID THRU</span>
                    @if (userData?.master_card_expiry !== null) {
                    <span class="fs-12">{{
                      userData?.master_card_expiry
                    }}</span>
                    }@else {
                    <span class="fs-12">**/**</span>
                    }
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  @if (userData?.master_card !== null) {
                  <p class="mt-2">
                    {{
                      userData?.master_card.substring(0, 4) +
                        "**** ****" +
                        userData?.master_card.substring(-4)
                    }}
                  </p>
                  }@else {
                  <p class="mt-2">**** **** **** ****</p>
                  }
                </div>
                <div>
                  <img src="img/master-card-type.png" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="card-div mt-4">
            <img
              src="img/visa-card-bg.png"
              class="w-100 theme-rounded"
              alt=""
            />
            <div class="content-text w-100 p-3">
              <span class="balance-text text-light">Balance</span>
              <div class="d-flex justify-content-between">
                <h5 class="text-light">
                  {{ userData?.currency }} {{ userData?.display_balance }}
                </h5>
                <mat-icon class="text-light">contactless</mat-icon>
              </div>

              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  <span class="fw-light fs-12">CARD HOLDER</span>
                  <span class="fs-12">{{ userData?.fullname }}</span>
                </div>
                <div>
                  <div class="d-flex flex-column text-light me-3">
                    <span class="fw-light fs-12">VALID THRU</span>
                    @if (userData?.visa_card_expiry !== null) {
                    <span class="fs-12">{{ userData?.visa_card_expiry }}</span>
                    }@else {
                    <span class="fs-12">**/**</span>
                    }
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  @if (userData?.visa_card !== null) {
                  <p class="mt-2">
                    {{
                      userData?.visa_card.substring(0, 4) +
                        "**** ****" +
                        userData?.visa_card.substring(-4)
                    }}
                  </p>
                  }@else {
                  <p class="mt-2">**** **** **** ****</p>
                  }
                </div>
                <div>
                  <img src="img/visa-card-type.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 mt-4 mt-md-0" id="requestCard">
          <div class="row mb-4">
            <div class="col-12">
              <div class="col-12 d-flex justify-content-between">
                <h6>Wire Transfer</h6>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <img src="img/master-card-type.png" alt="" />
                    <span class="ms-2">Debit</span>
                  </div>
                  <div class="ms-5">
                    <div class="d-flex align-items-center">
                      <span
                        >{{ userData?.currency }}
                        {{ userData?.display_balance }}</span
                      >
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="card theme-rounded card-dark-theme">
                <div class="card-body">
                  <form
                    [formGroup]="transferForm"
                    (ngSubmit)="onSubmit()"
                    (keydown.enter)="$event.preventDefault()"
                  >
                    <div class="row">
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Account Number</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder=""
                          formControlName="account_number"
                          (input)="checkAccountNumberInternational($event)"
                        />
                      </mat-form-field>
                      @if (transferForm.get('account_number')?.touched &&
                      transferForm.get('account_number')?.hasError('notDomestic'))
                      {
                      <small class="text-danger mb-2"
                        >Account is not a domestic account</small
                      >
                      }

                      <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Account Name</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder=""
                          formControlName="account_name"
                        />
                      </mat-form-field>

                      <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Bank Name</mat-label>
                        <input
                          type="text"
                          matInput
                          formControlName="bank_name"
                          [matAutocomplete]="auto"
                        />
                        <mat-autocomplete
                          #auto="matAutocomplete"
                          [displayWith]="displayFn"
                          (optionSelected)="setSwiftCode($event)"
                        >
                          @for (bank of filteredBanks | async; track $index) {
                          <mat-option [value]="bank">{{
                            bank.bank_name
                          }}</mat-option>
                          }
                        </mat-autocomplete>
                      </mat-form-field>

                      <!-- <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Bank Name</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder=""
                          formControlName="bank_name"
                        />
                      </mat-form-field> -->

                      <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Swift Code</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder=""
                          readonly=""
                          formControlName="swift_code"
                        />
                      </mat-form-field>

                      <!-- <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Swift Code</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder=""
                          formControlName="swift_code"
                        />
                      </mat-form-field> -->

                      <mat-form-field
                        class="col-12 col-md-6"
                        appearance="outline"
                      >
                        <mat-label>Routing Number</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder=""
                          formControlName="routing_number"
                        />
                      </mat-form-field>

                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Account Type</mat-label>
                        <mat-select formControlName="account_type">
                          <mat-option value="0">Checkings Account</mat-option>
                          <mat-option value="1">Savings Account</mat-option>
                          <mat-option value="2">Fixed Account</mat-option>
                          <mat-option value="3">Current Account</mat-option>
                          <mat-option value="4">Investment Account</mat-option>
                          <mat-option value="5">Business Account</mat-option>
                          <mat-option value="6"
                            >Cooperate Business Account</mat-option
                          >
                          <mat-option value="7"
                            >Non Resident Account</mat-option
                          >
                        </mat-select>
                      </mat-form-field>

                      <p>Available Balance: {{ userData?.display_balance }}</p>
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input
                          min="0"
                          matInput
                          type="number"
                          placeholder=""
                          formControlName="amount"
                          (input)="checkBalance($event)"
                        />
                      </mat-form-field>
                      @if (transferForm.get('amount')?.touched &&
                      transferForm.get('amount')?.hasError('insufficientBalance'))
                      {
                      <small class="text-danger mb-2"
                        >Insufficient balance</small
                      >
                      } @if (transferForm.get('amount')?.touched &&
                      transferForm.get('amount')?.hasError('transferLimit')) {
                      <small class="text-danger mb-2"
                        >Amount exceeds transfer limit</small
                      >
                      } @if (transferForm.get('amount')?.touched &&
                      transferForm.get('amount')?.hasError('accountMinimum')) {
                      <small class="text-danger mb-2"
                        >Amount is below the minimum required</small
                      >
                      }

                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Description (Optional)</mat-label>

                        <input
                          matInput
                          type="text"
                          placeholder=""
                          formControlName="description"
                        />
                      </mat-form-field>

                      <mat-slide-toggle
                        class="mb-3"
                        formControlName="save_beneficiary"
                        >Save Beneficiary</mat-slide-toggle
                      >
                    </div>

                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="pinModal"
                      tabindex="-1"
                      aria-labelledby="pinModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="pinModalLabel">
                              Enter Transaction Pin
                            </h1>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <div
                              formArrayName="digits"
                              class="code-input-container"
                            >
                              @for (digit of digitsArray.controls; track $index)
                              {
                              <mat-form-field appearance="outline">
                                <input
                                  id="digit{{ $index }}"
                                  class="code-input"
                                  type="password"
                                  maxlength="1"
                                  [formControlName]="$index"
                                  (input)="moveToNext($index, $event)"
                                  (keydown)="moveToNext($index, $event)"
                                  matInput
                                />
                              </mat-form-field>
                              }
                            </div>

                            <button
                              type="button"
                              [disabled]="isLoading || pin.length < 4"
                              class="btn w-100 btn-gradient-primary btn-gradient-padding"
                              (click)="checkPin()"
                            >
                              Confirm
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button
                      type="button"
                      #openModal
                      data-bs-toggle="modal"
                      data-bs-target="#otpModal"
                      style="visibility: hidden"
                    >
                      OpenOtpModal
                    </button>

                    <!-- OTP Modal -->
                    <div
                      class="modal fade"
                      id="otpModal"
                      tabindex="-1"
                      aria-labelledby="otpModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="otpModalLabel">
                              Enter Transaction OTP
                            </h1>

                            <button
                              #closeModal
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <p>
                              An OTP has been sent to your email. Please enter
                              OTP
                            </p>
                            <mat-form-field class="col-12" appearance="outline">
                              <mat-label>OTP Code</mat-label>
                              <input
                                (input)="setOTPValue($event)"
                                matInput
                                type="number"
                                placeholder="OTP Code"
                                minlength="6"
                                maxlength="6"
                              />
                            </mat-form-field>

                            <button
                              (click)="checkOtp()"
                              #otpBtn
                              type="button"
                              [disabled]="isLoading"
                              class="btn w-100 btn-gradient-primary btn-gradient-padding"
                            >
                              Confirm OTP
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    @if (userData?.can_transfer === 0){
                    <small
                      class="label bg-warning"
                      style="
                        font-size: 12px;
                        display: inline-block;
                        padding: 2px 8px;
                        margin-bottom: 5px;
                      "
                      >{{ userData?.reason }}</small
                    >
                    }

                    <div class="row justify-content-center">
                      <div class="col-12">
                        @if(!isSubmitBtn) {
                        <button
                          type="button"
                          (click)="enterPin()"
                          [disabled]="
                            isLoading ||
                            transferForm.invalid ||
                            userData?.can_transfer === 0
                          "
                          data-bs-toggle="modal"
                          data-bs-target="#pinModal"
                          class="btn w-100 btn-gradient-primary btn-gradient-padding"
                        >
                          Transfer
                        </button>
                        }@else {
                        <button
                          type="submit"
                          class="btn w-100 btn-gradient-primary btn-gradient-padding"
                        >
                          Confirm Transaction
                        </button>
                        }
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
