<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row p-5">
          <div class="col-12 p-0 p-md-5 text-center">
            <div #translateParent class="translate-box"></div>

            <h3 class="">Personalize Your Banking Experience</h3>
            <p class="text-secondary">
              From everyday checking and high-interest savings to personal loans
              and smart investment options—WovenTallowHold gives you the tools
              to manage your money with confidence, anytime, anywhere.
            </p>

            <div class="mt-5">
              <p>New to WovenTallowHold?</p>

              <a
                routerLink="/signup"
                class="btn btn-gradient-primary btn-gradient-padding mb-3"
              >
                Open an Account
              </a>

              <p class="text-secondary">
                Already a customer? <a routerLink="/signin">Login here</a>
              </p>
            </div>
          </div>

          <div class="d-flex justify-content-center mb-5">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchThemeMain"
                [checked]="isDarkTheme"
                (change)="toggleTheme($event)"
              />
              <label class="form-check-label fs-12" for="switchThemeMain">
                Dark Mode
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 signup-bg p-5 text-dark">
        <!-- <a href="#" class="navbar-brand">
          <img src="img/logo.png" class="logo" alt="" />
        </a> -->

        <a class="navbar-brand" href="#">
          <h2 class="logo-text"><i>WovenTallowHold.com</i></h2>
        </a>

        <h1 class="banking-text">Banking Made Simple.</h1>

        <p class="login-text">
          Securely log in to manage your WovenTallowHold account. New here?
          Click
          <strong>Sign Up</strong> to open your account today.
        </p>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Instant transfers"
                />
                <span class="fs-auto">Fast & Secure Transfers</span>
              </div>
              <div class="d-flex">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Global payments"
                />
                <span class="fs-auto">Global Payments</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Savings account"
                />
                <span class="fs-auto">Flexible Savings Accounts</span>
              </div>
              <div class="d-flex">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Mobile banking"
                />
                <span class="fs-auto">24/7 Mobile Banking</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <img src="img/signup-girl.png" class="signup-girl" alt="" /> -->
      </div>
    </div>
  </div>
</section>
