<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 signup-bg p-5 d-none d-md-block text-dark">
        <!-- <a href="#" class="navbar-brand d-md-block">
          <img src="img/logo.png" class="logo" alt="" />
        </a> -->

        <a class="navbar-brand" href="#">
          <h2 class="logo-text"><i>ApexIntlTrustCapital.com</i></h2>
        </a>

        <h1 class="banking-text">Banking starts here.</h1>

        <p class="login-text">
          Login to get started with ApexIntlTrustCapital If not yet registered
          click on sign up to get started.
        </p>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">Instant Transfer</span>
              </div>
              <div class="d-flex">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">Payments Worldwide</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">Saving accounts</span>
              </div>
              <div class="d-flex">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">100% mobile banking</span>
              </div>
            </div>
          </div>
        </div>
        <img src="img/signup-girl.png" class="signup-girl" alt="" />
      </div>
      <div class="col-12 col-md-6">
        <div class="row p-5">
          <a href="#" class="navbar-brand d-md-none">
            <img src="img/logo.png" class="logo" alt="" />
          </a>
          <div class="col-12 p-0 p-md-5 pt-4 pt-md-0">
            <form
              action=""
              #forgotPasswordForm="ngForm"
              (ngSubmit)="submitForm()"
            >
              <h5 class="mt-5 fw-bold">Forgot Password</h5>
              <p class="text-secondary">
                Welcome Back! Please enter your email address to send a reset
                link
              </p>

              <div class="row">
                @if (isLoading) {
                <div class="col-12 my-2">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                }
              </div>

              <div class="mt-5" id="pageOne">
                <div class="row">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Account Email</mat-label>
                    <input
                      matInput
                      type="email"
                      name="email"
                      [(ngModel)]="email"
                      placeholder="Enter email"
                      required=""
                      email=""
                    />
                  </mat-form-field>
                </div>

                <button
                  type="submit"
                  [disabled]="forgotPasswordForm.form.invalid || isLoading"
                  class="col-12 btn btn-gradient-primary btn-gradient-padding mt-3"
                >
                  Reset Password
                </button>
              </div>
            </form>

            <div class="text-center mt-3">
              <p>
                Remember Password?
                <a routerLink="/signin" class="text-decoration-none">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
