<nav
  class="navbar navbar-expand-md sticky-top px-4 py-3"
  [ngClass]="{
    'dark-theme': theme === 'dark',
    'dark-theme-bottom-divider': theme === 'dark'
  }"
>
  <div class="container-fluid">
    <!-- <button
      type="button"
      class="d-md-none"
      aria-expanded="false"
      aria-label="Toggle navigation"
      mat-icon-button
      (click)="toggleSideNav()"
    >
      <fa-icon [icon]="faBars" size="lg" class="text-muted"></fa-icon>
    </button> -->
    <a
      data-bs-toggle="offcanvas"
      href="#sideNavOffCanvas"
      role="button"
      aria-controls="sideNavOffCanvas"
      class="d-md-none"
    >
      <fa-icon [icon]="faBars" size="lg" class="text-primary"></fa-icon>
    </a>

    <!-- <div class="vr ms-5 d-none d-md-block"></div> -->

    <div class="">
      <h5 class="">{{ title }}</h5>
    </div>

    <button mat-button class="d-md-none" href="#" [matMenuTriggerFor]="menu">
      @if (userData?.pic == "" || userData?.pic == null) {
      <img src="img/avatar.png" style="width: 50px; height: 50px" alt="" />
      } @else {
      <img
        [src]="apiRootUrl + userData?.pic || 'img/avatar.png'"
        style="width: 50px; height: 50px"
        alt=""
      />
      }
      <mat-menu #menu="matMenu">
        @if(userData) {
        <div>
          <p class="text-center">{{ this.userData.fullname }}</p>
        </div>

        <div class="dark-theme-bottom-divider"></div>
        }
        <a routerLink="/dashboard/settings" mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Account Settings</span>
        </a>
        <a routerLink="/dashboard/settings" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>User Profile</span>
        </a>
        <a (click)="logOut()" mat-menu-item class="text-danger">
          <mat-icon color="warn">logout</mat-icon>
          <span>Log Out</span>
        </a>
      </mat-menu>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex ms-auto" role="search">
        <div class="d-flex align-items-center form-control search">
          <span
            ><img src="img/magnifying-glass-1.png" class="icon-good" alt=""
          /></span>
          <input
            class="form-control search"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="search"
          />
        </div>
      </form>

      <a
        routerLink="/dashboard/settings"
        class="rounded-pill off-white p-2 mx-2"
      >
        <fa-icon [icon]="faCog" size="lg" class="text-ashes"></fa-icon>
      </a>

      <a href="/dashboard/transactions" class="rounded-pill off-white p-2 mx-2">
        <fa-icon [icon]="faReceipt" size="lg" class="text-ashes"></fa-icon>
      </a>

      <button
        mat-button
        class="d-none d-md-inline ms-2"
        href="#"
        [matMenuTriggerFor]="menu"
      >
        @if (userData?.pic == "" || userData?.pic == null) {
        <img src="img/avatar.png" style="width: 40px; height: 40px" alt="" />
        } @else {
        <img
          [src]="apiRootUrl + userData?.pic || 'img/avatar.png'"
          style="width: 40px; height: 40px"
          alt=""
        />
        }
        <mat-menu #menu="matMenu">
          <a routerLink="/dashboard/settings" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Account Settings</span>
          </a>
          <a routerLink="/dashboard/settings" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>User Profile</span>
          </a>
          <a (click)="logOut()" mat-menu-item class="text-danger">
            <mat-icon color="warn">logout</mat-icon>
            <span>Log Out</span>
          </a>
        </mat-menu>
      </button>
    </div>
  </div>
</nav>
