.search {
  border-radius: 40px;
  height: 40px;
  background-color: #f5f7fa;
  color: #333;
}

input.search {
  background-color: transparent;
  border: none;
}

input.search:focus,
input.search:active {
  box-shadow: none;
}
