@if (isLoading) {
<div class="spinner">
  <img
    src="img/spinner.png"
    class="rotating-img"
    style="width: 50px; height: 50px"
    alt="Loading"
  />
</div>
}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Recent Transactions</h5>

      @if (isBrowser) {
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="All Transactions">
          <ng-template matTabContent>
            <div class="card theme-rounded card-dark-theme mt-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table datatable class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Receipt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let transaction of transactions$ | async">
                        <td class="text-truncate">
                          <div class="d-flex align-items-center">
                            <mat-icon
                              [ngClass]="{
                              'text-success':
                                (transaction.transaction_type == 0) &&
                                transaction.receiver_id == userData?.id,
                              'text-danger':
                                transaction.transaction_type == 0 &&
                                transaction.sender_id == userData?.id,
                            }"
                            >
                              {{
                                transaction.transaction_type == 0 &&
                                transaction.receiver_id == userData?.id
                                  ? "arrow_circle_down"
                                  : "arrow_circle_up"
                              }}
                            </mat-icon>
                            <span class="ms-3">{{
                              transaction.description
                            }}</span>
                          </div>
                        </td>
                        <td class="text-truncate">
                          {{ transaction.transaction_id }}
                        </td>
                        <td class="text-truncate">
                          {{
                            transaction.transfer_type === 0
                              ? "Domestic"
                              : transaction.transfer_type === 1
                              ? "International"
                              : "Europe"
                          }}
                        </td>
                        <td class="text-truncate">
                          @if (transaction.status == 0) {
                          <span class="badge text-bg-warning">Pending</span>
                          }@else if (transaction.status == 1) {
                          <span class="badge text-bg-success">Success</span>
                          }@else {
                          <span class="badge text-bg-danger">Declined</span>
                          }
                        </td>
                        <td class="text-truncate">
                          {{ transaction.created_at | date : "long" }}
                        </td>
                        <td class="text-truncate">
                          <span
                            [ngClass]="{
                              'text-danger':
                                transaction.transaction_type == 0 &&
                                transaction.sender_id == userData?.id,
                              'text-success':
                                (transaction.transaction_type == 1 ||
                                  transaction.transaction_type == 0) &&
                                transaction.receiver_id == userData?.id
                            }"
                          >
                            {{
                              transaction.transaction_type == 0 &&
                              transaction.sender_id == userData?.id
                                ? "- "
                                : "+ "
                            }}{{ transaction.amount }}
                          </span>
                        </td>
                        <td class="d-flex">
                          <button
                            (click)="viewDetails(transaction.id)"
                            class="btn btn-gradient-primary fs-10 col-12"
                          >
                            View
                          </button>
                          <!-- @if(transaction.status !== 0) { -->
                          <button
                            (click)="downloadReceipt(transaction.id)"
                            class="btn btn-gradient-primary fs-10 col-12 ms-2"
                          >
                            Download
                          </button>
                          <!-- } -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Income">
          <ng-template matTabContent>
            <div class="card theme-rounded card-dark-theme mt-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table datatable class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Receipt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let transaction of getCreditTransactionType(1) | async
                        "
                      >
                        <td class="text-truncate">
                          <div class="d-flex align-items-center">
                            <mat-icon
                              [ngClass]="{
                              'text-success':
                                (transaction.transaction_type == 0) &&
                                transaction.receiver_id == userData?.id,
                              'text-danger':
                                transaction.transaction_type == 0 &&
                                transaction.sender_id == userData?.id,
                            }"
                            >
                              {{
                                transaction.transaction_type == 0 &&
                                transaction.receiver_id == userData?.id
                                  ? "arrow_circle_down"
                                  : "arrow_circle_up"
                              }}
                            </mat-icon>
                            <span class="ms-3">{{
                              transaction.description
                            }}</span>
                          </div>
                        </td>
                        <td class="text-truncate">
                          {{ transaction.transaction_id }}
                        </td>
                        <td class="text-truncate">
                          {{
                            transaction.transfer_type === 0
                              ? "Domestic"
                              : transaction.transfer_type === 1
                              ? "International"
                              : "Europe"
                          }}
                        </td>
                        <td class="text-truncate">
                          @if (transaction.status == 0) {
                          <span class="badge text-bg-warning">Pending</span>
                          }@else if (transaction.status == 1) {
                          <span class="badge text-bg-success">Success</span>
                          }@else {
                          <span class="badge text-bg-danger">Declined</span>
                          }
                        </td>
                        <td class="text-truncate">
                          {{ transaction.created_at | date : "long" }}
                        </td>
                        <td class="text-truncate">
                          <span
                            [ngClass]="{
                              'text-danger':
                                transaction.transaction_type == 0 &&
                                transaction.sender_id == userData?.id,
                              'text-success':
                                (transaction.transaction_type == 1 ||
                                  transaction.transaction_type == 0) &&
                                transaction.receiver_id == userData?.id
                            }"
                          >
                            {{
                              transaction.transaction_type == 0 &&
                              transaction.sender_id == userData?.id
                                ? "- "
                                : "+ "
                            }}{{ transaction.amount }}
                          </span>
                        </td>
                        <td class="d-flex">
                          <button
                            (click)="viewDetails(transaction.id)"
                            class="btn btn-gradient-primary fs-10 col-12"
                          >
                            View
                          </button>
                          <!-- @if(transaction.status !== 0) { -->
                          <button
                            (click)="downloadReceipt(transaction.id)"
                            class="btn btn-gradient-primary fs-10 col-12 ms-2"
                          >
                            Download
                          </button>
                          <!-- } -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Expense">
          <ng-template matTabContent>
            <div class="card theme-rounded card-dark-theme mt-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table datatable class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Receipt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let transaction of getDebitTransactionType(0) | async
                        "
                      >
                        <td class="text-truncate">
                          <div class="d-flex align-items-center">
                            <mat-icon
                              [ngClass]="{
                              'text-success':
                                (transaction.transaction_type == 0) &&
                                transaction.receiver_id == userData?.id,
                              'text-danger':
                                transaction.transaction_type == 0 &&
                                transaction.sender_id == userData?.id,
                            }"
                            >
                              {{
                                transaction.transaction_type == 0 &&
                                transaction.receiver_id == userData?.id
                                  ? "arrow_circle_down"
                                  : "arrow_circle_up"
                              }}
                            </mat-icon>
                            <span class="ms-3">{{
                              transaction.description
                            }}</span>
                          </div>
                        </td>
                        <td class="text-truncate">
                          {{ transaction.transaction_id }}
                        </td>
                        <td class="text-truncate">
                          {{
                            transaction.transfer_type === 0
                              ? "Domestic"
                              : transaction.transfer_type === 1
                              ? "International"
                              : "Europe"
                          }}
                        </td>
                        <td class="text-truncate">
                          @if (transaction.status == 0) {
                          <span class="badge text-bg-warning">Pending</span>
                          }@else if (transaction.status == 1) {
                          <span class="badge text-bg-success">Success</span>
                          }@else {
                          <span class="badge text-bg-danger">Declined</span>
                          }
                        </td>
                        <td class="text-truncate">
                          {{ transaction.created_at | date : "long" }}
                        </td>
                        <td class="text-truncate">
                          <span
                            [ngClass]="{
                              'text-danger':
                                transaction.transaction_type == 0 &&
                                transaction.sender_id == userData?.id,
                              'text-success':
                                (transaction.transaction_type == 1 ||
                                  transaction.transaction_type == 0) &&
                                transaction.receiver_id == userData?.id
                            }"
                          >
                            {{
                              transaction.transaction_type == 0 &&
                              transaction.sender_id == userData?.id
                                ? "- "
                                : "+ "
                            }}{{ transaction.amount }}
                          </span>
                        </td>
                        <td class="d-flex">
                          <button
                            (click)="viewDetails(transaction.id)"
                            class="btn btn-gradient-primary fs-10 col-12"
                          >
                            View
                          </button>
                          <!-- @if(transaction.status !== 0) { -->
                          <button
                            (click)="downloadReceipt(transaction.id)"
                            class="btn btn-gradient-primary fs-10 col-12 ms-2"
                          >
                            Download
                          </button>
                          <!-- } -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      }
    </div>
  </div>
</div>

@if (showModal) {
<app-transaction-details-modal
  [transactionId]="transactionId"
  (modalClosed)="closeModal()"
></app-transaction-details-modal>
}
