<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row p-5">
          <a href="#" class="navbar-brand d-md-none">
            <!-- <img src="img/logo.png" class="logo" alt="" /> -->
            <h2 class="logo-text"><i>WovenTallowHold.com</i></h2>
          </a>
          <div class="col-12 p-0 p-md-5 pt-4 pt-md-0">
            <div #translateParent class="translate-box"></div>

            <form action="" [formGroup]="signinForm" (ngSubmit)="submitForm()">
              <h5 class="mt-5 fw-bold">Sign In</h5>
              <p class="text-secondary">
                Welcome Back! Please use the form below to sigin into your
                account to continue.
              </p>

              <div class="row">
                @if (isLoading || preloader) {
                <div class="col-12 my-2">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                }
              </div>

              @if (!preloader) {
              <div #pageOne class="mt-5" id="pageOne">
                <div class="row">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Access ID</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Access ID"
                      formControlName="access_id"
                    />
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      type="password"
                      placeholder="Password"
                      formControlName="password"
                    />
                  </mat-form-field>
                </div>

                <div class="d-flex justify-content-end">
                  <a routerLink="/forgot-password" class="text-decoration-none"
                    >Forgot Password?</a
                  >
                </div>

                <button
                  type="submit"
                  [disabled]="signinForm.invalid || isLoading"
                  class="col-12 btn btn-gradient-primary btn-gradient-padding mt-3"
                >
                  Sign In
                </button>
              </div>
              }
            </form>

            <div class="text-center mt-3">
              <p>
                Don't have an Account?
                <a routerLink="/signup" class="text-decoration-none">Sign Up</a>
              </p>
            </div>
          </div>

          <div class="col-12">
            <h4 class="text-primary mt-5 mt-md-0">Online Safety Tips</h4>

            <p class="text fs-10 text-justify">
              At WovenTallowHold, your online security is our top priority. To
              ensure you have a safe and secure experience, please keep the
              following tips in mind whenever accessing your account or
              performing online transactions.
            </p>

            <p class="fs-10 text-justify">
              <b>Keep your login credentials private:</b> Your Account Access ID
              and Password should never be shared with anyone. Always use
              strong, unique passwords.
            </p>

            <p class="fs-10 text-justify">
              <b>Be aware of your surroundings:</b> Make sure no one is watching
              when entering your login details, especially in public places.
            </p>

            <p class="fs-10 text-justify">
              <b>Protect your PIN:</b> Never write it down or disclose it to
              anyone under any circumstances.
            </p>

            <p class="fs-10 text-justify">
              <b>Access your account safely:</b> Always log in via our official
              website only:
              <span style="color: #007bff">
                <b
                  ><a
                    href="https://dashboard.woventallowhold.com"
                    target="_blank"
                    >https://dashboard.woventallowhold.com</a
                  ></b
                >
              </span>
            </p>

            <p class="fs-10 text-justify">
              <b>Always log out properly:</b> Use the ‘Log Out’ button after
              every session. Avoid accessing your account on shared or public
              computers. If you do, clear your browser’s cache and history after
              logging out.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 signup-bg p-5 text-dark">
        <!-- <a href="#" class="navbar-brand">
          <img src="img/logo.png" class="logo" alt="" />
        </a> -->

        <a class="navbar-brand" href="#">
          <h2 class="logo-text"><i>WovenTallowHold.com</i></h2>
        </a>

        <h1 class="banking-text">Banking Made Simple.</h1>

        <p class="login-text">
          Securely log in to manage your WovenTallowHold account. New here?
          Click
          <strong>Sign Up</strong> to open your account today.
        </p>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Instant transfers"
                />
                <span class="fs-auto">Fast & Secure Transfers</span>
              </div>
              <div class="d-flex">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Global payments"
                />
                <span class="fs-auto">Global Payments</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Savings account"
                />
                <span class="fs-auto">Flexible Savings Accounts</span>
              </div>
              <div class="d-flex">
                <img
                  src="img/icon-good.png"
                  class="me-2 icon-good"
                  alt="Mobile banking"
                />
                <span class="fs-auto">24/7 Mobile Banking</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <img src="img/signup-girl.png" class="signup-girl" alt="" /> -->
      </div>
    </div>
  </div>
</section>
