<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 signup-bg p-5 d-none d-md-block text-dark">
        <!-- <a href="#" class="navbar-brand d-md-block">
          <img src="img/logo.png" class="logo" alt="" />
        </a> -->

        <a class="navbar-brand" href="#">
          <h2 class="logo-text"><i>EdgeSpringCitiTrust.com</i></h2>
        </a>

        <h1 class="banking-text">Banking starts here.</h1>

        <p class="login-text">
          Login to get started with EdgeSpringCitiTrust If not yet registered
          click on sign up to get started.
        </p>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">Instant Transfer</span>
              </div>
              <div class="d-flex">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">Payments Worldwide</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex">
              <div class="d-flex me-2 me-md-5">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">Saving accounts</span>
              </div>
              <div class="d-flex">
                <img src="img/icon-good.png" class="me-2 icon-good" alt="" />
                <span class="fs-auto">100% mobile banking</span>
              </div>
            </div>
          </div>
        </div>
        <img src="img/signup-girl.png" class="signup-girl" alt="" />
      </div>
      <div class="col-12 col-md-6">
        <div class="row p-5">
          <a href="#" class="navbar-brand d-md-none">
            <!-- <img src="img/logo.png" class="logo" alt="" /> -->
            <h2 class="logo-text"><i>EdgeSpringCitiTrust.com</i></h2>
          </a>
          <div class="col-12 p-0 p-md-5 pt-4 pt-md-0">
            <form action="" [formGroup]="signinForm" (ngSubmit)="submitForm()">
              <h5 class="mt-5 fw-bold">Sign In</h5>
              <p class="text-secondary">
                Welcome Back! Please use the form below to sigin into your
                account to continue.
              </p>

              <div class="row">
                @if (isLoading || preloader) {
                <div class="col-12 my-2">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                }
              </div>

              @if (!preloader) {
              <div #pageOne class="mt-5" id="pageOne">
                <div class="row">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Access ID</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Access ID"
                      formControlName="access_id"
                    />
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      type="password"
                      placeholder="Password"
                      formControlName="password"
                    />
                  </mat-form-field>
                </div>

                <div class="d-flex justify-content-end">
                  <a routerLink="/forgot-password" class="text-decoration-none"
                    >Forgot Password?</a
                  >
                </div>

                <button
                  type="submit"
                  [disabled]="signinForm.invalid || isLoading"
                  class="col-12 btn btn-gradient-primary btn-gradient-padding mt-3"
                >
                  Sign In
                </button>
              </div>
              }
            </form>

            <div class="text-center mt-3">
              <p>
                Don't have an Account?
                <a routerLink="/signup" class="text-decoration-none">Sign Up</a>
              </p>
            </div>
          </div>

          <div class="col-12">
            <h4 class="text-danger mt-5 mt-md-0">E-Scam Alert</h4>

            <p class="text fs-10 text-justitfy">
              Our attention has been drawn to mails being sent out by
              fraudsters, requesting for such sensitive information as Internet
              Banking Account and ATM Card Details. Some of these mails also
              request that customers update their account records by clicking on
              links to fake Internet banking and Interswitch websites. You are
              hereby advised to ignore these mails and Do Not respond to them
            </p>

            <p class="fs-10 text-justitfy">
              <span style="color: red"
                ><b
                  >Your Account Access ID and Password are confidential. Do not
                  disclose them to anyone.</b
                ></span
              >
            </p>

            <p class="fs-10 text-justify">
              Ensure no one is looking over your shoulders when entering your
              Account Access ID and Password . Make sure you observe your
              surroundings.
            </p>

            <p class="fs-10 text-justify">
              <b>Protect your PIN Do not disclose it to anyone.</b>
            </p>

            <p class="fs-10 text-justify">
              Always log on to our internet banking service via our website
            </p>

            <p class="fs-10 text-justify">
              <span style="color: red"
                ><b
                  ><a
                    href="https://dashboard.edgespringcititrust.com"
                    target="_blank"
                    >https://dashboard.edgespringcititrust.com</a
                  ></b
                ></span
              >
            </p>

            <p class="fs-10 text-justify">
              For your protection Always logout- Internet browsers often store
              data concerning your session. To minimize this to potential
              unauthorised access, you should start a new browser window for any
              e-Banking session and close all other web pages while you are
              connected to your account. You should also avoid accessing your
              account from public places like internet cafes or kiosks, as you
              will lack control about what information is retained and where. To
              correctly terminate your session you should not simply close the
              browser. Instead, you should use the 'log out' button, and
              possibly clear the cache of your browser.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
