<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Edit Profile">
    <ng-template matTabContent>
      <div class="card theme-rounded card-dark-theme mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-3">
              <div>
                <div class="d-flex justify-content-center">
                  <div class="profile-card-div">
                    <img
                      src="img/avatar-profile.png"
                      style="width: 130px; height: 130px; border-radius: 50%"
                      alt=""
                    />
                    <a class="edit-icon-div">
                      <mat-icon class="text-light">edit</mat-icon>
                    </a>
                  </div>
                </div>
                <h5 class="text-center mt-3">Alisha Cara</h5>
                <div class="d-flex justify-content-center">
                  <p
                    class="d-flex align-items-center badge bg-success px-3 py-1 rounded-pill"
                  >
                    <mat-icon class="text-light me-2">verified</mat-icon>
                    <span class="fw-bold">Pro User</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <form action="">
                <div class="row">
                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Fullname</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="fullname"
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="number"
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      type="email"
                      placeholder=""
                      formControlName="email"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>City</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="city"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Date of Birht</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="dob"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="country"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Permanent Address</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="address"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="postal_code"
                      readonly=""
                    />
                  </mat-form-field>
                </div>

                <div class="row justify-content-end">
                  <div class="col-3">
                    <button
                      class="btn btn-gradient-primary w-100 btn-gradient-padding"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Preferences">
    <ng-template matTabContent>
      <div class="card theme-rounded card-dark-theme mt-4">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <mat-progress-bar mode="buffer" class="mb-3"></mat-progress-bar>
              </div>
              <div class="col-12 col-md-6">
                <img
                  src="img/coming-soon3.png"
                  style="width: 300px; height: 300px"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Security">
    <ng-template matTabContent>
      <div class="card theme-rounded card-dark-theme mt-4">
        <div class="card-body">
          <form action="">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Current Password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder=""
                    formControlName="old_password"
                  />
                </mat-form-field>

                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder=""
                    formControlName="password"
                  />
                </mat-form-field>

                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder=""
                    formControlName="password_confirmation"
                  />
                </mat-form-field>

                <button
                  class="btn btn-gradient-primary w-100 btn-gradient-padding"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
