@if(isLoading) {
<div class="spinner">
  <img
    src="img/spinner.png"
    class="rotating-img"
    style="width: 50px; height: 50px"
    alt=""
  />
</div>
}

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Edit Profile">
    <ng-template matTabContent>
      <div class="card theme-rounded card-dark-theme mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-3">
              <div>
                <div class="d-flex justify-content-center">
                  <div class="profile-card-div">
                    @if (profileImagePreview) {
                    <img
                      [src]="profileImagePreview"
                      style="width: 130px; height: 130px; border-radius: 50%"
                      alt="Profile Image"
                    />
                    } @else { @if (userData?.pic == "" || userData?.pic == null)
                    {
                    <img
                      src="img/avatar-profile.png"
                      style="width: 130px; height: 130px; border-radius: 50%"
                      alt="Profile Image"
                    />
                    } @else {
                    <img
                      [src]="
                        apiRootUrl + userData?.pic || 'img/avatar-profile.png'
                      "
                      style="width: 130px; height: 130px; border-radius: 50%"
                      alt="Profile Image"
                    />
                    } }
                    <a
                      class="edit-icon-div cursor-pointer"
                      (click)="fileInput.click()"
                    >
                      <mat-icon class="text-light">edit</mat-icon>
                    </a>
                    <!-- Hidden file input -->
                    <input
                      type="file"
                      #fileInput
                      (change)="onFileUpload($event)"
                      style="display: none"
                      accept="image/*"
                    />
                  </div>
                </div>

                <!-- Upload Progress Bar -->
                @if (uploadProgress > 0 && uploadProgress < 100) {
                <div class="progress mt-3">
                  <mat-progress-bar
                    mode="determinate"
                    [value]="uploadProgress"
                  ></mat-progress-bar>
                </div>
                }
                <h5 class="text-center mt-3">{{ userData?.fullname }}</h5>
                <div class="d-flex justify-content-center">
                  <p
                    class="d-flex align-items-center badge bg-success px-3 py-1 rounded-pill"
                  >
                    <mat-icon class="text-light me-2">verified</mat-icon>
                    <span class="fw-bold">Pro User</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <form [formGroup]="profileForm" (ngSubmit)="submitProfileForm()">
                <div class="row">
                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Fullname</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="fullname"
                      readonly="true"
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="phone"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      type="email"
                      placeholder=""
                      formControlName="email"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>City</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="city"
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input
                      matInput
                      type="date"
                      placeholder=""
                      formControlName="dob"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="country"
                      readonly=""
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Permanent Address</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="address"
                    />
                  </mat-form-field>

                  <mat-form-field class="col-12 col-md-6" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder=""
                      formControlName="postal_code"
                    />
                  </mat-form-field>
                </div>

                <div class="row justify-content-end">
                  <div class="col-12 col-md-3">
                    <button
                      [disabled]="profileForm.invalid || isLoading"
                      class="btn btn-gradient-primary w-100 btn-gradient-padding"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Account">
    <ng-template matTabContent>
      <div class="card theme-rounded card-dark-theme mt-4">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <!-- <div class="col-12">
                <mat-progress-bar mode="buffer" class="mb-3"></mat-progress-bar>
              </div> -->
              <div class="col-12 col-md-4">
                <!-- <img
                  src="img/coming-soon3.png"
                  style="width: 300px; height: 300px"
                  alt=""
                /> -->

                <h5 class="text-center">Account Details</h5>
                <div class="d-flex flex-column">
                  <p>Account Number: {{ userData?.account_no }}</p>
                  <p>VAT Number: {{ userData?.vat_number }}</p>
                  <p>
                    Transfer Limit:
                    {{ userData?.currency + userData?.transfer_limit }}
                  </p>
                  <p>Currency: {{ userData?.currency }}</p>
                </div>

                <h5 class="text-center mt-4">Account Profile</h5>
                <div class="d-flex flex-column">
                  <p>Access ID: {{ userData?.access_id }}</p>
                  <p>
                    Email Verified:
                    {{ userData?.email_verified_at === null ? "No" : "Yes" }}
                  </p>
                  <p>Pin Set: {{ userData?.pin === null ? "No" : "Yes" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Security">
    <ng-template matTabContent>
      <div class="card theme-rounded card-dark-theme mt-4">
        <div class="card-body">
          <form [formGroup]="securityForm" (ngSubmit)="submitSecurityForm()">
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Current Password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder=""
                    formControlName="old_password"
                  />
                </mat-form-field>

                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput type="password" formControlName="password" />
                </mat-form-field>

                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    matInput
                    type="password"
                    formControlName="password_confirmation"
                  />
                </mat-form-field>

                <button
                  [disabled]="securityForm.invalid || isLoading"
                  class="btn btn-gradient-primary w-100 btn-gradient-padding"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
