.card-div {
  position: relative;

  .content-text {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.spinner {
  position: fixed; /* Stay fixed at the top */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Semi-transparent background */
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 9999; /* High z-index to ensure it's above other elements */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-img {
  animation: rotate 1s linear infinite;
}

.code-input-container {
  display: flex;
  gap: 8px;
}

.code-input {
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
