<section>
  <div class="container mt-5 p-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h4>Hang tight while we verify your identity.</h4>

        <p class="text-secondary">
          We are verifying the information you shared in order to set up your
          business account.
        </p>

        <div class="d-flex justify-content-center">
          <img
            src="img/spinner.png"
            class="rotating-img"
            alt="Rotating Image"
          />
        </div>

        <div class="mt-5">
          <p>This should only take a few minutes...</p>
        </div>

        <a
          routerLink="/signin"
          class="btn btn-gradient-primary btn-gradient-padding mt-5 col-12"
        >
          Log Out
        </a>
      </div>
    </div>
  </div>
</section>
