@if (isLoading) {
<div class="spinner">
  <img
    src="img/spinner.png"
    class="rotating-img"
    style="width: 50px; height: 50px"
    alt="Loading"
  />
</div>
}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Recent withdrawals</h5>

      @if (isBrowser) {
      <div class="card theme-rounded card-dark-theme mt-4">
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Method</th>
                  <th scope="col">Transaction ID</th>
                  <th scope="col">Address</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let withdrawal of withdrawals">
                  <td class="text-truncate">
                    <div class="d-flex align-items-center">
                      <mat-icon class="text-danger"> arrow_circle_up </mat-icon>
                      <span class="ms-3">{{
                        withdrawal?.name + "-" + withdrawal?.network
                      }}</span>
                    </div>
                  </td>
                  <td class="text-truncate">
                    {{ withdrawal?.transaction_id }}
                  </td>
                  <td class="text-truncate">
                    {{ withdrawal?.address }}
                  </td>
                  <td class="text-truncate">
                    {{ userData?.currency + "" + withdrawal?.amount }}
                  </td>
                  <td class="text-truncate">
                    @if (withdrawal?.status == 0) {
                    <span class="badge text-bg-warning">Pending</span>
                    }@else if (withdrawal?.status == 1) {
                    <span class="badge text-bg-success">Success</span>
                    }@else {
                    <span class="badge text-bg-danger">Declined</span>
                    }
                  </td>
                  <td class="text-truncate">
                    {{ withdrawal?.created_at | date : "long" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
