@use "@angular/material" as mat;
@use "./light-theme.scss";

@include mat.core();

:root {
  --bg-accent: #1565d8;
  --bg-primary: #b559e9;
  --bg-dark: #1a191e;
  --bg-secondary: #a4b4cb;
  --bg-success: #2f9f93;
  --bg-success2: #61bb84;
  --bg-white: #fff;
  --bg-light: #f5f7fa;
  --bg-aches: #718ebf;

  --bg-dark-theme: #050624;
  --bg-dark-theme2: #080a36;

  --bg-linear-accent: #3e79e5;
  --bg-linear-accent2: #01b8e3;

  --bg-purple: #a789ff;

  --bg-lemon: #83dea4;
  --bg-lemon-light: #ebfff3;

  --bg-warning: #ffaa90;
  --bg-warning-light: #fff1ed;

  --bg-secondary-dark: #d3e1f5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  width: 150px;
  height: 40px;
}

.bg-accent {
  background-color: var(--bg-accent) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-gradient-primary {
  background: linear-gradient(to right, #1565d8, #b559e9) !important;
}

.btn-gradient-primary {
  position: relative; /* Position relative to position the ripple effect */
  overflow: hidden; /* Hide overflow of the pseudo-element */
  background: linear-gradient(to right, #1565d8, #b559e9) !important;
  border: none;
  color: #fff !important;
  transition: background-color 0.3s ease; /* Optional: smooth transition for background color change */
}

.btn-gradient-padding {
  padding: 15px 50px !important; /* Adjust padding as needed */
}

.btn-gradient-primary:hover {
  color: #fff;
}

.btn-gradient-primary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px; /* Initial size of the ripple effect */
  height: 200px; /* Initial size of the ripple effect */
  background: rgba(255, 255, 255, 0.3); /* Ripple color */
  border-radius: 50%; /* Make it circular */
  transform: translate(-50%, -50%) scale(0); /* Center and initially hide the ripple */
  opacity: 0; /* Hide the ripple initially */
  pointer-events: none; /* Prevent the ripple from blocking clicks */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth animation for ripple effect */
}

.btn-gradient-primary:hover::before {
  transform: translate(-50%, -50%) scale(3); /* Enlarge the ripple effect */
  opacity: 1; /* Make the ripple visible */
}

.btn-gradient-primary:disabled {
  background: rgba(255, 255, 255, 0.3);
}

.cursor-pointer {
  cursor: pointer;
}

.text-primary {
  color: var(--bg-primary) !important;
}

.text-accent {
  color: var(--bg-accent) !important;
}

.text-justify {
  text-align: justify;
}

.off-white {
  background-color: var(--bg-light) !important;
}

.bg-ashes {
  background-color: var(--bg-aches);
}

.text-ashes {
  color: var(--bg-aches);
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.theme-rounded {
  border-radius: 10px;
}

.text-purple {
  color: var(--bg-purple);
}

.text-lemon {
  color: var(--bg-lemon);
}

.badge.text-bg-success {
  background-color: var(--bg-lemon-light) !important;
  color: var(--bg-success2) !important;
  font-weight: normal !important;
}

.badge.text-bg-warning {
  background-color: var(--bg-warning-light) !important;
  color: var(--bg-warning) !important;
  font-weight: normal !important;
}

.bg-secondary-dark {
  background-color: var(--bg-secondary-dark);
}

.table > :not(caption) > * > * {
  padding-block: 10px;
  border: none;
  font-size: 14px;
}

.border-linear-accent {
  border: 1px solid var(--bg-linear-accent2);
}
