<main>
  <div class="d-flex">
    <div
      class="offcanvas offcanvas-start"
      [ngClass]="{ 'sidenav-dark-gradient': theme === 'dark' }"
      tabindex="-1"
      id="sideNavOffCanvas"
      aria-labelledby="sideNavOffCanvasLabel"
    >
      <div class="offcanvas-header">
        <h5
          class="offcanvas-title text-dark-responsive"
          id="sideNavOffCanvasLabel"
        >
          <!-- <a class="navbar-brand" href="#">
            <img src="img/logo.png" class="logo" alt="" />
          </a> -->

          <a class="navbar-brand" href="#">
            <h4 class="logo-text"><i>InvestiProInc.com</i></h4>
          </a>
        </h5>
        <button
          mat-icon-button
          class="btn-close"
          type="button"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="offcanvas-body">
        <div class="navbar-nav">
          <mat-nav-list>
            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/home'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/home"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/home'"
              >
                <mat-icon>home</mat-icon>
                <span class="ms-2">Dashboard</span>
              </a>
            </mat-list-item>

            <div class="dark-theme-bottom-divider">
              <span class="ms-3 text-dark-responsive">Transfers</span>
            </div>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/domestic'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/domestic"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/domestic'"
              >
                <mat-icon>assured_workload</mat-icon>
                <span class="ms-2">Domestic</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/international'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/international"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/international'"
              >
                <mat-icon>currency_exchange</mat-icon>
                <span class="ms-2">International</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/domestic-europe'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/domestic-europe"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/domestic-europe'"
              >
                <mat-icon>currency_exchange</mat-icon>
                <span class="ms-2">Domestic-EUR</span>
              </a>
            </mat-list-item>

            <div class="dark-theme-bottom-divider">
              <span class="ms-3 text-dark-responsive">Deposits</span>
            </div>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/deposit'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/deposit"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/deposit'"
              >
                <mat-icon>point_of_sale</mat-icon>
                <span class="ms-2">Deposit</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/deposit-history'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/deposit-history"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/deposit-history'"
              >
                <mat-icon>point_of_sale</mat-icon>
                <span class="ms-2">Deposit History</span>
              </a>
            </mat-list-item>

            <div class="dark-theme-bottom-divider">
              <span class="ms-3 text-dark-responsive">Withdrawals</span>
            </div>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/withdrawal'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/withdrawal"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/withdrawal'"
              >
                <mat-icon>point_of_sale</mat-icon>
                <span class="ms-2">Withdrawal</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/withdrawal-history'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/withdrawal-history"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/withdrawal-history'"
              >
                <mat-icon>point_of_sale</mat-icon>
                <span class="ms-2">Withdrawal History</span>
              </a>
            </mat-list-item>

            <div class="dark-theme-bottom-divider">
              <span class="ms-3 text-dark-responsive">Extras</span>
            </div>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/transactions'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/transactions"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/transactions'"
              >
                <mat-icon>point_of_sale</mat-icon>
                <span class="ms-2">Transactions</span>
              </a>
            </mat-list-item>

            <!-- <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/investments'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/investments"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/investments'"
              >
                <mat-icon>savings</mat-icon>
                <span class="ms-2">Investments</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/credit-cards'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/credit-cards"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/credit-cards'"
              >
                <mat-icon>add_card</mat-icon>
                <span class="ms-2">Credit Cards</span>
              </a>
            </mat-list-item>

            <mat-list-item
              data-bs-dismiss="offcanvas"
              class="my-3"
              [activated]="activeLink === '/dashboard/loans'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/loans"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/loans'"
              >
                <mat-icon>local_atm</mat-icon>
                <span class="ms-2">Loans</span>
              </a>
            </mat-list-item>

            <mat-list-item
              data-bs-dismiss="offcanvas"
              class="my-3"
              [activated]="activeLink === '/dashboard/support'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/support"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/support'"
              >
                <mat-icon>support_agent</mat-icon>
                <span class="ms-2">Support</span>
              </a>
            </mat-list-item>

            <mat-list-item
              data-bs-dismiss="offcanvas"
              class="my-3"
              [activated]="activeLink === '/dashboard/services'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/services"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/services'"
              >
                <mat-icon>handyman</mat-icon>
                <span class="ms-2">Services</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === '/dashboard/privileges'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/privileges"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/privileges'"
              >
                <mat-icon>tips_and_updates</mat-icon>
                <span class="ms-2">My Privileges</span>
              </a>
            </mat-list-item> -->

            <mat-list-item
              data-bs-dismiss="offcanvas"
              class="my-3"
              [activated]="activeLink === '/dashboard/settings'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/settings"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == '/dashboard/settings'"
              >
                <mat-icon>settings</mat-icon>
                <span class="ms-2">Settings</span>
              </a>
            </mat-list-item>
          </mat-nav-list>

          <div class="d-flex justify-content-center my-3 nav-color">
            <fa-icon [icon]="faInfoCircle" size="sm"></fa-icon>
            <a href="mailto: support@investiproinc.com" class="fs-12 ms-2"
              >Get Help</a
            >
          </div>

          <div class="d-flex justify-content-center mb-5">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchThemeOffcanvas"
                [checked]="isDarkTheme"
                (change)="toggleTheme($event)"
              />
              <label
                class="form-check-label fs-12 nav-color"
                for="switchThemeOffcanvas"
                >Dark mode</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav
      class="sidebar"
      [ngClass]="{ 'sidenav-dark-gradient': theme === 'dark' }"
    >
      <div class="mt-4 text-center">
        <!-- <a class="navbar-brand d-none d-md-inline px-4" href="#">
          <img src="img/logo.png" class="logo" alt="" />
        </a> -->
        <a class="navbar-brand d-none d-md-inline" href="#">
          <h4 class="logo-text"><i>InvestiProInc.com</i></h4>
        </a>
      </div>
      <div
        class="navbar-nav navbar-nav-scroll full-height-sidenav"
        style="--bs-scroll-height: 90vh"
      >
        <mat-nav-list>
          <mat-list-item class="my-3" [activated]="activeLink === 'dashboard'">
            <a
              matListItemTitle
              routerLink="/dashboard/home"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/home'"
            >
              <mat-icon>home</mat-icon>
              <span class="ms-2">Dashboard</span>
            </a>
          </mat-list-item>

          <div class="dark-theme-bottom-divider">
            <span class="ms-3">Transfers</span>
          </div>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/domestic'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/domestic"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/domestic'"
            >
              <mat-icon>assured_workload</mat-icon>
              <span class="ms-2">Domestic</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/international'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/international"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/international'"
            >
              <mat-icon>currency_exchange</mat-icon>
              <span class="ms-2">International</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/domestic-europe'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/domestic-europe"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/domestic-europe'"
            >
              <mat-icon>currency_exchange</mat-icon>
              <span class="ms-2">Domestic-EUR</span>
            </a>
          </mat-list-item>

          <div class="dark-theme-bottom-divider">
            <span class="ms-3">Deposits</span>
          </div>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/deposit'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/deposit"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/deposit'"
            >
              <mat-icon>credit_card</mat-icon>
              <span class="ms-2">Deposit</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/deposit-history'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/deposit-history"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/deposit-history'"
            >
              <mat-icon>history</mat-icon>
              <span class="ms-2">Deposit History</span>
            </a>
          </mat-list-item>

          <div class="dark-theme-bottom-divider">
            <span class="ms-3">Withdrawals</span>
          </div>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/withdrawal'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/withdrawal"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/withdrawal'"
            >
              <mat-icon>credit_card</mat-icon>
              <span class="ms-2">Withdrawal</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/withdrawal-history'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/withdrawal-history"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/withdrawal-history'"
            >
              <mat-icon>history</mat-icon>
              <span class="ms-2">Withdrawal History</span>
            </a>
          </mat-list-item>

          <div class="dark-theme-bottom-divider">
            <span class="ms-3">Extras</span>
          </div>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/transactions'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/transactions"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/transactions'"
            >
              <mat-icon>point_of_sale</mat-icon>
              <span class="ms-2">Transactions</span>
            </a>
          </mat-list-item>

          <!-- <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/investments'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/investments"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/investments'"
            >
              <mat-icon>savings</mat-icon>
              <span class="ms-2">Investments</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/credit-cards'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/credit-cards"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/credit-cards'"
            >
              <mat-icon>add_card</mat-icon>
              <span class="ms-2">Credit Cards</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/loans'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/loans"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/loans'"
            >
              <mat-icon>local_atm</mat-icon>
              <span class="ms-2">Loans</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/support'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/support"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/support'"
            >
              <mat-icon>support_agent</mat-icon>
              <span class="ms-2">Support</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/services'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/services"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/services'"
            >
              <mat-icon>handyman</mat-icon>
              <span class="ms-2">Services</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/privileges'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/privileges"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/privileges'"
            >
              <mat-icon>tips_and_updates</mat-icon>
              <span class="ms-2">My Privileges</span>
            </a>
          </mat-list-item> -->

          <mat-list-item
            class="my-3"
            [activated]="activeLink === '/dashboard/settings'"
          >
            <a
              matListItemTitle
              routerLink="/dashboard/settings"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == '/dashboard/settings'"
            >
              <mat-icon>settings</mat-icon>
              <span class="ms-2">Settings</span>
            </a>
          </mat-list-item>
        </mat-nav-list>

        <div class="d-flex justify-content-center my-3">
          <fa-icon [icon]="faInfoCircle" size="sm"></fa-icon>
          <a href="mailto: support@investiproinc.com" class="fs-12 ms-2"
            >Get Help</a
          >
        </div>

        <div class="d-flex justify-content-center mb-5">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="switchThemeMain"
              [checked]="isDarkTheme"
              (change)="toggleTheme($event)"
            />
            <label class="form-check-label fs-12" for="switchThemeMain"
              >Dark mode</label
            >
          </div>
        </div>
      </div>
    </nav>

    <!-- Content Area -->
    <div class="content w-100">
      <div class="sticky-top">
        <app-header [theme]="theme" [title]="title"></app-header>
      </div>

      <div class="views px-3 mt-3">
        <p
          class="label bg-info"
          style="font-size: 12px; display: inline-block; padding: 2px 8px"
        >
          ! You can translate this site at the bottom of the page.
        </p>
        <router-outlet></router-outlet>
      </div>

      <div class="px-4 mt-5">
        <div #translateParent class="translate-box"></div>

        <app-footer></app-footer>
      </div>
    </div>
  </div>
</main>
