<main>
  <div class="d-flex">
    <div
      class="offcanvas offcanvas-start"
      [ngClass]="{ 'sidenav-dark-gradient': theme === 'dark' }"
      tabindex="-1"
      id="sideNavOffCanvas"
      aria-labelledby="sideNavOffCanvasLabel"
    >
      <div class="offcanvas-header">
        <h5
          class="offcanvas-title text-dark-responsive"
          id="sideNavOffCanvasLabel"
        >
          <!-- <a class="navbar-brand" href="#">
            <img src="img/logo.png" class="logo" alt="" />
          </a> -->

          <a class="navbar-brand" href="#">
            <h2 class="logo-text"><i>Banker.com</i></h2>
          </a>
        </h5>
        <button
          mat-icon-button
          class="btn-close"
          type="button"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="offcanvas-body">
        <div class="navbar-nav">
          <mat-nav-list>
            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === 'dashboard'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard"
                (click)="setActiveLink('dashboard')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'dashboard'"
              >
                <mat-icon>home</mat-icon>
                <span class="ms-2">Dashboard</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === 'transactions'"
            >
              <a
                matListItemTitle
                routerLink="/transactions"
                (click)="setActiveLink('transactions')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'transactions'"
              >
                <mat-icon>point_of_sale</mat-icon>
                <span class="ms-2">Transactions</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === 'investments'"
            >
              <a
                matListItemTitle
                routerLink="/investments"
                (click)="setActiveLink('investments')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'investments'"
              >
                <mat-icon>currency_exchange</mat-icon>
                <span class="ms-2">Investments</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === 'credit-cards'"
            >
              <a
                matListItemTitle
                routerLink="/credit-cards"
                (click)="setActiveLink('credit-cards')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'credit-cards'"
              >
                <mat-icon>add_card</mat-icon>
                <span class="ms-2">Credit Cards</span>
              </a>
            </mat-list-item>

            <mat-list-item
              data-bs-dismiss="offcanvas"
              class="my-3"
              [activated]="activeLink === 'loans'"
            >
              <a
                matListItemTitle
                routerLink="/loans"
                (click)="setActiveLink('loans')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'loans'"
              >
                <mat-icon>local_atm</mat-icon>
                <span class="ms-2">Loans</span>
              </a>
            </mat-list-item>

            <mat-list-item
              data-bs-dismiss="offcanvas"
              class="my-3"
              [activated]="activeLink === 'services'"
            >
              <a
                matListItemTitle
                routerLink="/services"
                (click)="setActiveLink('services')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'services'"
              >
                <mat-icon>handyman</mat-icon>
                <span class="ms-2">Services</span>
              </a>
            </mat-list-item>

            <mat-list-item
              class="my-3"
              data-bs-dismiss="offcanvas"
              [activated]="activeLink === 'privileges'"
            >
              <a
                matListItemTitle
                routerLink="/privileges"
                (click)="setActiveLink('privileges')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'privileges'"
              >
                <mat-icon>tips_and_updates</mat-icon>
                <span class="ms-2">My Privileges</span>
              </a>
            </mat-list-item>

            <mat-list-item
              data-bs-dismiss="offcanvas"
              class="my-3"
              [activated]="activeLink === 'settings'"
            >
              <a
                matListItemTitle
                routerLink="/dashboard/settings"
                (click)="setActiveLink('settings')"
                class="d-flex align-items-center nav-link nav-color"
                [class.active]="activeLink == 'settings'"
              >
                <mat-icon>settings</mat-icon>
                <span class="ms-2">Settings</span>
              </a>
            </mat-list-item>
          </mat-nav-list>

          <div class="d-flex justify-content-center my-3 nav-color">
            <fa-icon [icon]="faInfoCircle" size="sm"></fa-icon>
            <span class="fs-12 ms-2">Get Help</span>
          </div>

          <div class="d-flex justify-content-center mb-5">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchThemeOffcanvas"
                [checked]="isDarkTheme"
                (change)="toggleTheme($event)"
              />
              <label
                class="form-check-label fs-12 nav-color"
                for="switchThemeOffcanvas"
                >Dark mode</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav
      class="sidebar"
      [ngClass]="{ 'sidenav-dark-gradient': theme === 'dark' }"
    >
      <div class="mt-4 text-center">
        <!-- <a class="navbar-brand d-none d-md-inline px-4" href="#">
          <img src="img/logo.png" class="logo" alt="" />
        </a> -->
        <a class="navbar-brand d-none d-md-inline" href="#">
          <h2 class="logo-text"><i>Banker.com</i></h2>
        </a>
      </div>
      <div
        class="navbar-nav navbar-nav-scroll full-height-sidenav"
        style="--bs-scroll-height: 90vh"
      >
        <mat-nav-list>
          <mat-list-item class="my-3" [activated]="activeLink === 'dashboard'">
            <a
              matListItemTitle
              routerLink="/dashboard"
              (click)="setActiveLink('dashboard')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'dashboard'"
            >
              <mat-icon>home</mat-icon>
              <span class="ms-2">Dashboard</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === 'transactions'"
          >
            <a
              matListItemTitle
              routerLink="/transactions"
              (click)="setActiveLink('transactions')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'transactions'"
            >
              <mat-icon>point_of_sale</mat-icon>
              <span class="ms-2">Transactions</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === 'investments'"
          >
            <a
              matListItemTitle
              routerLink="/investments"
              (click)="setActiveLink('investments')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'investments'"
            >
              <mat-icon>currency_exchange</mat-icon>
              <span class="ms-2">Investments</span>
            </a>
          </mat-list-item>

          <mat-list-item
            class="my-3"
            [activated]="activeLink === 'credit-cards'"
          >
            <a
              matListItemTitle
              routerLink="/credit-cards"
              (click)="setActiveLink('credit-cards')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'credit-cards'"
            >
              <mat-icon>add_card</mat-icon>
              <span class="ms-2">Credit Cards</span>
            </a>
          </mat-list-item>

          <mat-list-item class="my-3" [activated]="activeLink === 'loans'">
            <a
              matListItemTitle
              routerLink="/loans"
              (click)="setActiveLink('loans')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'loans'"
            >
              <mat-icon>local_atm</mat-icon>
              <span class="ms-2">Loans</span>
            </a>
          </mat-list-item>

          <mat-list-item class="my-3" [activated]="activeLink === 'services'">
            <a
              matListItemTitle
              routerLink="/services"
              (click)="setActiveLink('services')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'services'"
            >
              <mat-icon>handyman</mat-icon>
              <span class="ms-2">Services</span>
            </a>
          </mat-list-item>

          <mat-list-item class="my-3" [activated]="activeLink === 'privileges'">
            <a
              matListItemTitle
              routerLink="/privileges"
              (click)="setActiveLink('privileges')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'privileges'"
            >
              <mat-icon>tips_and_updates</mat-icon>
              <span class="ms-2">My Privileges</span>
            </a>
          </mat-list-item>

          <mat-list-item class="my-3" [activated]="activeLink === 'settings'">
            <a
              matListItemTitle
              routerLink="/dashboard/settings"
              (click)="setActiveLink('settings')"
              class="d-flex align-items-center nav-link nav-color"
              [class.active]="activeLink == 'settings'"
            >
              <mat-icon>settings</mat-icon>
              <span class="ms-2">Settings</span>
            </a>
          </mat-list-item>
        </mat-nav-list>

        <div class="d-flex justify-content-center my-3">
          <fa-icon [icon]="faInfoCircle" size="sm"></fa-icon>
          <span class="fs-12 ms-2">Get Help</span>
        </div>

        <div class="d-flex justify-content-center mb-5">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="switchThemeMain"
              [checked]="isDarkTheme"
              (change)="toggleTheme($event)"
            />
            <label class="form-check-label fs-12" for="switchThemeMain"
              >Dark mode</label
            >
          </div>
        </div>
      </div>
    </nav>

    <!-- Content Area -->
    <div class="content w-100">
      <div class="sticky-top">
        <app-header [theme]="theme"></app-header>
      </div>

      <div class="views px-3 mt-3">
        <router-outlet></router-outlet>
      </div>

      <div class="px-4 mt-5">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</main>
