<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-12">
      <h6>My Card</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-3">
      <div class="card-div">
        <img src="img/card-bg.png" class="w-100 theme-rounded" alt="" />
        <div class="content-text w-100 p-3">
          <span class="balance-text text-light">Balance</span>
          <div class="d-flex justify-content-between">
            <h5 class="text-light">$5,756</h5>
            <mat-icon class="text-light">contactless</mat-icon>
          </div>

          <div class="d-flex justify-content-between px-2">
            <div class="d-flex flex-column text-light">
              <span class="fw-light fs-12">CARD HOLDER</span>
              <span class="fs-12">Richard Austin</span>
            </div>
            <div>
              <div class="d-flex flex-column text-light me-3">
                <span class="fw-light fs-12">VALID THRU</span>
                <span class="fs-12">12/22</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between px-2">
            <div class="d-flex flex-column text-light">
              <p class="mt-2">3778 **** **** 1234</p>
            </div>
            <div>
              <img src="img/card-type.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="quick-transfer mt-3">
        <div class="card theme-rounded card-dark-theme">
          <div class="card-body">
            <h6 class="card-title">Quick Transfer</h6>
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <span matPrefix class="ms-2">
                  <img src="img/card-type.png" alt="" />
                </span>
                <mat-select value="1">
                  <mat-option value="1">Debit &nbsp;&nbsp;10,438</mat-option>
                  <mat-option value="2">Credit &nbsp;&nbsp;$10,438</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter Amount</mat-label>
                <input class="pt-4" matInput value="$1,24" />
              </mat-form-field>
            </div>

            <div class="d-flex justify-content-between text-light">
              <div class="d-flex flex-column align-items-center">
                <div class="card theme-rounded card-dark-theme">
                  <div class="card-body p-2 px-3">
                    <mat-icon class="text-purple">price_change</mat-icon>
                  </div>
                </div>
                <p class="fs-10 mt-2">Send</p>
              </div>
              <div class="d-flex flex-column align-items-center">
                <div class="card theme-rounded card-dark-theme">
                  <div class="card-body p-2 px-3">
                    <mat-icon class="text-lemon">price_change</mat-icon>
                  </div>
                </div>
                <p class="fs-10 mt-2">Receive</p>
              </div>
              <div class="d-flex flex-column align-items-center">
                <div class="card theme-rounded card-dark-theme">
                  <div class="card-body p-2 px-3">
                    <mat-icon class="text-lemon">receipt_long</mat-icon>
                  </div>
                </div>
                <p class="fs-10 mt-2">Invoicing</p>
              </div>
              <div class="d-flex flex-column align-items-center">
                <div class="card theme-rounded card-dark-theme">
                  <div class="card-body p-2 px-3">
                    <mat-icon class="text-lemon">widgets</mat-icon>
                  </div>
                </div>
                <p class="fs-10 mt-2">More</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
    <div class="col-3"></div>
  </div>
</div>
