@if(isLoading) {
<div class="spinner">
  <img
    src="img/spinner.png"
    class="rotating-img"
    style="width: 50px; height: 50px"
    alt=""
  />
</div>
}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="row mb-4">
          <div class="col-12">
            <h6>My Card</h6>
          </div>
        </div>
        <div class="col-12 col-md-4" id="quickTransfer">
          <div class="card-div">
            <img
              src="img/master-card-bg.png"
              class="w-100 theme-rounded"
              alt=""
            />
            <div class="content-text w-100 p-3">
              <span class="balance-text text-light">Balance</span>
              <div class="d-flex justify-content-between">
                <h5 class="text-light">
                  {{ userData?.currency }} {{ userData?.display_balance }}
                </h5>
                <mat-icon class="text-light">contactless</mat-icon>
              </div>

              <div class="d-flex justify-content-between px-2">
                <div class="d-flex flex-column text-light">
                  <span class="fw-light fs-12">CARD HOLDER</span>
                  <span class="fs-12">{{ userData?.fullname }}</span>
                </div>
                <div>
                  <div class="d-flex flex-column text-light me-3">
                    <span class="fw-light fs-12">VALID THRU</span>
                    @if (userData?.master_card_expiry !== null) {
                    <span class="fs-12">{{
                      userData?.master_card_expiry
                    }}</span>
                    }@else {
                    <span class="fs-12">**/**</span>
                    }
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between px-2">
                <div class="d-flex flex-column text-light">
                  @if (userData?.master_card !== null) {
                  <p class="mt-2">
                    {{
                      userData?.master_card.substring(0, 4) +
                        "**** ****" +
                        userData?.master_card.substring(-4)
                    }}
                  </p>
                  }@else {
                  <p class="mt-2">**** **** **** ****</p>
                  }
                </div>
                <div>
                  <img src="img/master-card-type.png" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="quick-transfer mt-4">
            <div class="card theme-rounded card-dark-theme">
              <div class="card-body">
                <h6 class="card-title mb-5">Quick Transfer</h6>
                <div class="my-3">
                  <mat-form-field appearance="outline" class="w-100">
                    <span matPrefix class="ms-2">
                      <img src="img/master-card-type.png" alt="" />
                    </span>
                    <mat-select value="1" class="py-3">
                      <mat-option value="1"
                        >Debit &nbsp;&nbsp;{{
                          userData?.currency + userData?.display_balance
                        }}</mat-option
                      >
                      <!-- <mat-option value="2"
                        >Credit &nbsp;&nbsp;{{
                          userData?.currency + userData?.display_balance
                        }}</mat-option
                      > -->
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div class="my-3">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter Amount</mat-label>
                    <input
                      type="number"
                      class="pt-5"
                      matInput
                      placeholder="0.00"
                    />
                  </mat-form-field>
                </div> -->

                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column align-items-center">
                    <a routerLink="/dashboard/international">
                      <div class="card theme-rounded card-dark-theme">
                        <div class="card-body p-2 px-md-3">
                          <mat-icon class="text-purple">price_change</mat-icon>
                        </div>
                      </div>
                    </a>
                    <p class="fs-10 mt-4">Send</p>
                  </div>
                  <div class="d-flex flex-column align-items-center">
                    <a
                      class="cursor-pointer"
                      data-bs-toggle="modal"
                      data-bs-target="#detailsModal"
                    >
                      <div class="card theme-rounded card-dark-theme">
                        <div class="card-body p-2 px-md-3">
                          <mat-icon class="text-lemon">price_change</mat-icon>
                        </div>
                      </div>
                    </a>
                    <p class="fs-10 mt-4">Receive</p>
                  </div>
                  <div class="d-flex flex-column align-items-center">
                    <a routerLink="/dashboard/transactions">
                      <div class="card theme-rounded card-dark-theme">
                        <div class="card-body p-2 px-md-3">
                          <mat-icon class="text-lemon">receipt_long</mat-icon>
                        </div>
                      </div>
                    </a>
                    <p class="fs-10 mt-4">Receipts</p>
                  </div>
                  <div class="d-flex flex-column align-items-center">
                    <a routerLink="/dashboard/settings">
                      <div class="card theme-rounded card-dark-theme">
                        <div class="card-body p-2 px-md-3">
                          <mat-icon class="text-lemon">widgets</mat-icon>
                        </div>
                      </div>
                    </a>
                    <p class="fs-10 mt-4">More</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 mt-4 mt-md-0" id="moneyFlow">
          <div class="col-12">
            <div class="card theme-rounded card-dark-theme">
              <div class="card-body p-2">
                <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="card theme-rounded card-dark-theme">
              <div class="card-body">
                <h5 class="m-0">Recent Transactions</h5>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="">
                      @for(recent of latestData; track $index) {
                      <tr>
                        <td class="text-truncate">
                          <div class="d-flex align-items-center">
                            @if (recent.transaction_type === 0 && userData?.id
                            == recent.sender_id) {
                            <img
                              src="img/icon-danger.png"
                              style="width: 41.72px; height: 41.72px"
                              alt=""
                            />
                            }@else {
                            <img
                              src="img/icon-success.png"
                              style="width: 41.72px; height: 41.72px"
                              alt=""
                            />
                            }
                            <span class="ms-3">{{ recent.description }}</span>
                          </div>
                        </td>
                        <td class="text-truncate">
                          {{ recent.created_at | date : "long" }}
                        </td>
                        <td class="text-truncate">
                          {{ recent.receiver_name }}
                        </td>
                        <td class="text-truncate">
                          <span
                            [ngClass]="{
                              'text-danger':
                                recent.transaction_type == 0 &&
                                recent.sender_id == userData?.id,
                              'text-success':
                                (recent.transaction_type == 1 ||
                                  recent.transaction_type == 0) &&
                                recent.receiver_id == userData?.id
                            }"
                          >
                            {{
                              recent.transaction_type == 0 &&
                              recent.sender_id == userData?.id
                                ? "- "
                                : "+ "
                            }}{{ recent.amount }}
                          </span>
                        </td>
                        <td>
                          @if (recent.status == 0) {
                          <span class="badge text-bg-warning">Pending</span>
                          }@else if (recent.status == 1) {
                          <span class="badge text-bg-success">Success</span>
                          }@else {
                          <span class="badge text-bg-danger">Declined</span>
                          }
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3" id="accountSummary">
          <div class="card theme-rounded card-dark-theme p-2 p-md-4">
            <h5 class="mb-5">Account Summary</h5>

            <div class="row">
              <div class="col-6 col-md-3 mt-4 mt-md-0">
                <div
                  class="card theme-rounded card-dark-theme border-linear-accent"
                >
                  <div class="d-flex p-2 px-md-3">
                    <img
                      src="img/icon-loan.png"
                      style="width: 27.49px; height: 27.49px"
                      alt=""
                    />
                    <div class="ms-md-4">
                      <p class="m-1 text-secondary fs-12">Loan</p>
                      <h6>{{ userData?.currency }}0.00</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 mt-4 mt-md-0">
                <div
                  class="card theme-rounded card-dark-theme border-linear-accent"
                >
                  <div class="d-flex p-2 px-md-3">
                    <img
                      src="img/icon-income.png"
                      style="width: 27.49px; height: 27.49px"
                      alt=""
                    />
                    <div class="ms-md-4">
                      <p class="m-1 text-secondary fs-12">Income</p>
                      <h6>
                        {{ userData?.currency }}{{ userData?.display_balance }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 mt-4 mt-md-0">
                <div
                  class="card theme-rounded card-dark-theme border-linear-accent"
                >
                  <div class="d-flex p-2 px-md-3">
                    <img
                      src="img/icon-expenses.png"
                      style="width: 27.49px; height: 27.49px"
                      alt=""
                    />
                    <div class="ms-md-4">
                      <p class="m-1 text-secondary fs-12">Expenses</p>
                      <h6>
                        {{ userData?.currency }}{{ userData?.display_expenses }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 mt-4 mt-md-0">
                <div
                  class="card theme-rounded card-dark-theme border-linear-accent"
                >
                  <div class="d-flex p-2 px-md-3">
                    <img
                      src="img/icon-savings.png"
                      style="width: 27.49px; height: 27.49px"
                      alt=""
                    />
                    <div class="ms-md-4">
                      <p class="m-1 text-secondary fs-12">Total Savings</p>
                      <h6>
                        {{ userData?.currency }}{{ userData?.display_balance }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Details Modal -->
        <div
          class="modal fade"
          id="detailsModal"
          tabindex="-1"
          aria-labelledby="detailsModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="detailsModalLabel">
                  Account Details
                </h1>
                <button
                  #closeModal
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- Bank Details Section -->
                <div class="bank-details">
                  <p class="text-center intro-text">
                    Use the account details below to top up your account or
                    receive payments.
                  </p>
                  <div class="detail-item">
                    <i class="icon fas fa-user"></i>
                    <span
                      ><strong>Account Name:</strong>
                      {{ userData?.fullname }}</span
                    >
                  </div>
                  <div class="detail-item">
                    <i class="icon fas fa-hashtag"></i>
                    <span
                      ><strong>Account Number:</strong>
                      {{ userData?.account_no }}</span
                    >
                  </div>
                  <div class="detail-item">
                    <i class="icon fas fa-university"></i>
                    <span
                      ><strong>Bank Name:</strong> SpringTrustCapital.com</span
                    >
                  </div>
                  <div class="detail-item">
                    <i class="icon fas fa-file-invoice-dollar"></i>
                    <span
                      ><strong>VAT Number:</strong>
                      {{ userData?.vat_number }}</span
                    >
                  </div>
                </div>

                <!-- Close Button -->
                <button
                  type="button"
                  class="btn w-100 btn-gradient-primary btn-gradient-padding close-btn"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of modal-->
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="row">
        <div class="col-12 mb-3">
          <h5 class="mb-4">Invoices Sent</h5>
          <div class="card theme-rounded card-dark-theme">
            <div class="card-body">
              @for (invoice of invoicesData; track $index) {

              <div
                class="d-flex justify-content-between align-items-center px-4 my-4"
              >
                @if (invoice.status === 0) {
                <img src="img/icon-warning.png" alt="" />
                }@else if (invoice.status === 1) {
                <img src="img/icon-success.png" alt="" />
                }@else {
                <img src="img/icon-danger.png" alt="" />
                }
                <div>
                  <span class="d-block fs-14">{{
                    invoice.transfer_type === 0
                      ? "Domestic"
                      : invoice.transfer_type === 1
                      ? "International"
                      : "Europe"
                  }}</span>
                  <span class="d-block fs-12">? time Ago</span>
                </div>
                <div>
                  <span
                    [ngClass]="{
                      'text-danger':
                        invoice.transaction_type == 0 &&
                        invoice.sender_id == userData?.id,
                      'text-success':
                        invoice.transaction_type == 0 &&
                        invoice.receiver_id == userData?.id
                    }"
                  >
                    {{
                      invoice.transaction_type == 0 &&
                      invoice.sender_id == userData?.id
                        ? "- "
                        : "+ "
                    }}{{ invoice.amount }}
                  </span>
                </div>
              </div>
              }
            </div>
          </div>
        </div>

        <div class="col-12 mt-5">
          <h5>Recent Contact</h5>
          <p class="m-0 fs-12">{{ beneficiaryData?.length }} Recipients</p>
          <div class="card theme-rounded card-dark-theme">
            <div class="card-body">
              @for (beneficiary of beneficiaryData; track $index) {
              <div
                class="d-flex justify-content-between align-items-center p-2 my-3 bg-secondary-dark theme-rounded"
              >
                @if (beneficiary.status === 0) {
                <img
                  src="img/icon-warning.png"
                  style="width: 41.72px; height: 41.72px"
                  alt=""
                />
                }@else if (beneficiary.status === 1) {
                <img
                  src="img/icon-success.png"
                  style="width: 41.72px; height: 41.72px"
                  alt=""
                />
                }@else {
                <img
                  src="img/icon-danger.png"
                  style="width: 41.72px; height: 41.72px"
                  alt=""
                />
                }
                <div class="text-dark">
                  <span class="d-block fs-12">{{
                    beneficiary.receiver_account_name
                  }}</span>

                  <span
                    [ngClass]="{
                      'text-danger':
                        beneficiary.transaction_type == 0 &&
                        beneficiary.sender_id == userData?.id,
                      'text-success':
                        beneficiary.transaction_type == 0 &&
                        beneficiary.receiver_id == userData?.id
                    }"
                  >
                    {{
                      beneficiary.transaction_type == 0 &&
                      beneficiary.sender_id == userData?.id
                        ? "- "
                        : "+ "
                    }}{{ beneficiary.amount }}
                  </span>
                </div>
                <div>
                  <button class="btn btn-gradient-primary fs-10 d-inline w-100">
                    Repeat Transaction
                  </button>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
