<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-progress-bar mode="buffer" class="mb-3"></mat-progress-bar>
    </div>
    <div class="col-12 col-md-6">
      <img
        src="img/coming-soon3.png"
        style="width: 300px; height: 300px"
        alt=""
      />
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-4" id="quickTransfer">
          <div class="row mb-4">
            <div class="col-12">
              <h6>My Cards</h6>
            </div>
          </div>
          <div class="card-div">
            <img
              src="img/master-card-bg.png"
              class="w-100 theme-rounded"
              alt=""
            />
            <div class="content-text w-100 p-3">
              <span class="balance-text text-light">Balance</span>
              <div class="d-flex justify-content-between">
                <h5 class="text-light">$5,756</h5>
                <mat-icon class="text-light">contactless</mat-icon>
              </div>

              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  <span class="fw-light fs-12">CARD HOLDER</span>
                  <span class="fs-12">Richard Austin</span>
                </div>
                <div>
                  <div class="d-flex flex-column text-light me-3">
                    <span class="fw-light fs-12">VALID THRU</span>
                    <span class="fs-12">12/22</span>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  <p class="mt-2">3778 **** **** 1234</p>
                </div>
                <div>
                  <img src="img/master-card-type.png" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="card-div mt-4">
            <img
              src="img/visa-card-bg.png"
              class="w-100 theme-rounded"
              alt=""
            />
            <div class="content-text w-100 p-3">
              <span class="balance-text text-light">Balance</span>
              <div class="d-flex justify-content-between">
                <h5 class="text-light">$5,756</h5>
                <mat-icon class="text-light">contactless</mat-icon>
              </div>

              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  <span class="fw-light fs-12">CARD HOLDER</span>
                  <span class="fs-12">Richard Austin</span>
                </div>
                <div>
                  <div class="d-flex flex-column text-light me-3">
                    <span class="fw-light fs-12">VALID THRU</span>
                    <span class="fs-12">12/22</span>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between px-2 mt-md-3">
                <div class="d-flex flex-column text-light">
                  <p class="mt-2">3778 **** **** 1234</p>
                </div>
                <div>
                  <img src="img/visa-card-type.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 mt-4 mt-md-0" id="requestCard">
          <div class="row mb-4">
            <div class="col-12">
              <h6>Register New Card</h6>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card theme-rounded card-dark-theme">
              <div class="card-body">
                <p>
                  Credit Card generally means a plastic card issued by Scheduled
                  Commercial Banks assigned to a Cardholder, with a credit
                  limit, that can be used to purchase goods and services on
                  credit or obtain cash advances.
                </p>

                <form action="">
                  <div class="row">
                    <mat-form-field
                      class="col-12 col-md-6"
                      appearance="outline"
                    >
                      <mat-label>Card Type</mat-label>
                      <mat-select formControlName="card_type">
                        <mat-option value="0">Master Card</mat-option>
                        <mat-option value="1">Visa Card</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field
                      class="col-12 col-md-6"
                      appearance="outline"
                    >
                      <mat-label>Name on Card</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder=""
                        formControlName="name"
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="col-12 col-md-6"
                      appearance="outline"
                    >
                      <mat-label>Card Number</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder=""
                        formControlName="number"
                        readonly=""
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="col-12 col-md-6"
                      appearance="outline"
                    >
                      <mat-label>Expiration Date</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder=""
                        formControlName="date"
                        readonly=""
                      />
                    </mat-form-field>
                  </div>

                  <div class="row">
                    <div class="col-12 col-md-4">
                      <button
                        class="btn btn-gradient-primary btn-gradient-padding"
                      >
                        Add Card
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 mt-3" id="accountSummary">
              <div class="card theme-rounded card-dark-theme p-2 p-md-4">
                <div class="row">
                  <div class="col-12 col-md-9 mt-4 mt-md-0">
                    <h5>Card List</h5>
                    <div
                      class="card theme-rounded card-dark-theme border-linear-accent"
                    >
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody class="">
                              <tr>
                                <td class="text-truncate">
                                  <div class="d-flex align-items-center">
                                    <img
                                      src="img/icon-master-card.png"
                                      style="width: 41.72px; height: 41.72px"
                                      alt=""
                                    />
                                    <div class="ms-3">
                                      <p class="m-0 fw-bold">Card Type</p>
                                      <p class="m-0 text-secondary fs-12">
                                        Master
                                      </p>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <div>
                                    <p class="m-0 fw-bold">Bank</p>
                                    <p class="m-0 text-secondary fs-12">
                                      woventallciti.com
                                    </p>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <div>
                                    <p class="m-0 fw-bold">Card Number</p>
                                    <p class="m-0 text-secondary fs-12">
                                      **** **** 4343
                                    </p>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <div>
                                    <p class="m-0 fw-bold">Name on Card</p>
                                    <p class="m-0 text-secondary fs-12">
                                      William Banks
                                    </p>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <a
                                    routerLink="#"
                                    class="text-primary cursor-pointer text-decoration-none fw-bold"
                                    >view Details</a
                                  >
                                </td>
                              </tr>
                              <tr>
                                <td class="text-truncate">
                                  <div class="d-flex align-items-center">
                                    <img
                                      src="img/icon-visa-card.png"
                                      style="width: 41.72px; height: 41.72px"
                                      alt=""
                                    />
                                    <div class="ms-3">
                                      <p class="m-0 fw-bold">Card Type</p>
                                      <p class="m-0 text-secondary fs-12">
                                        Visa
                                      </p>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <div>
                                    <p class="m-0 fw-bold">Bank</p>
                                    <p class="m-0 text-secondary fs-12">
                                      woventallciti.com
                                    </p>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <div>
                                    <p class="m-0 fw-bold">Card Number</p>
                                    <p class="m-0 text-secondary fs-12">
                                      **** **** 4343
                                    </p>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <div>
                                    <p class="m-0 fw-bold">Name on Card</p>
                                    <p class="m-0 text-secondary fs-12">
                                      William Banks
                                    </p>
                                  </div>
                                </td>
                                <td class="text-truncate">
                                  <a
                                    routerLink="#"
                                    class="text-primary cursor-pointer text-decoration-none fw-bold"
                                    >view Details</a
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-3 mt-4 mt-md-0">
                    <h5>Card Setting</h5>
                    <div
                      class="card theme-rounded card-dark-theme border-linear-accent"
                    >
                      <div class="card-body">
                        <a
                          class="d-flex align-items-center cursor-pointer hover p-1 rounded text-dark text-decoration-none"
                        >
                          <img src="img/icon-block-card.png" alt="" />
                          <div class="ms-3">
                            <span class="d-block fs-14 text-dark-responsive"
                              >Block Card</span
                            >
                            <span class="d-block fs-12 text-secondary"
                              >Instantly block your card</span
                            >
                          </div>
                        </a>
                        <a
                          class="d-flex align-items-center cursor-pointer hover p-1 rounded text-dark text-decoration-none"
                        >
                          <img src="img/icon-pin.png" alt="" />
                          <div class="ms-3">
                            <span class="d-block fs-14 text-dark-responsive"
                              >Change Pin Code</span
                            >
                            <span class="d-block fs-12 text-secondary"
                              >Choose another pin code</span
                            >
                          </div>
                        </a>
                        <a
                          class="d-flex align-items-center cursor-pointer hover p-1 rounded text-dark text-decoration-none"
                        >
                          <img src="img/icon-google.png" alt="" />
                          <div class="ms-3">
                            <span class="d-block fs-14 text-dark-responsive"
                              >Add to Google Play</span
                            >
                            <span class="d-block fs-12 text-secondary"
                              >Withdraw without any card</span
                            >
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
